<div style="padding:0;margin-top:10%:0;margin-left:auto;margin-right:auto;width:90%;background: #FFFFFF;font-family: Futura, Helvetica, Arial, sans-serif;font-size: 20px;line-height: 1;color: #000000;position:relative;">

	<div>
		<a href="http://roundtabled.com" target="_blank"><img src="http://roundtabled.com/images/Logo.png" alt="RoundTabled | bring everything to the table" border="0" width=100%></a>
	</div>
	
	<div style="text-align:right;">
		<h1 style="font-size:3em;line-height:1.5;font-weight:normal;margin:0;">thanks</h1>
		<h2 style="font-size:2em;line-height:1;font-weight:normal;margin:0;">we'll keep you posted</h2>
	</div>

	<p style="font-size: 1em;line-height: 1;margin-top: 1em;margin-bottom: 1em;">for now, you may <a href="http://twitter.com/#!/roundtabled" target="_blank" style="color: #C18939;text-decoration: none;">follow us</a>, <a href="http://www.facebook.com/pages/RoundTabled/170468609685372" target="_blank" style="color: #C18939;text-decoration: none;">friend us</a>, or email us by replying to this email. we would love to hear your feedback and the founders will personally respond to every email.</p>
	
	<p style="font-size: 1em;line-height: 1;margin-top: 1em;margin-bottom: 1em;">we will keep you posted about <a href="http://roundtabled.com" target="_blank" style="color: #C18939;text-decoration: none;">RoundTabled.com</a>, your tool to assign, collect and organize your publication's content.</p>
	
	<p style="font-size: 1em;line-height: 1;margin-top: 1em;margin-bottom: 1em;">sincerely,</p>
	
	<p style="font-size: 1em;line-height: 1;margin-top: 1em;margin-bottom: 1em;">your friends at RoundTabled</p>

</div>