<div style="padding:0;margin-top:10%:0;margin-left:auto;margin-right:auto;width:90%;background: #FFFFFF;font-family: Futura, Helvetica, Arial, sans-serif;font-size: 20px;line-height: 1;color: #000000;position:relative;">

	<div>
		<a href="http://roundtabled.com" target="_blank"><img src="http://roundtabled.com/images/Logo.png" alt="RoundTabled | bring everything to the table" border="0" width=100%></a>
	</div>
	
	<div style="text-align:right;">
		<h1 style="font-size:3em;line-height:1.5;font-weight:normal;margin:0;">new registration</h1>
		<h2 style="font-size:2em;line-height:1;font-weight:normal;margin:0;"><%= @user.email %></h2>
	</div>

	<p style="font-size: 1em;line-height: 1;margin-top: 1em;margin-bottom: 1em;">how cool is that?</p>
	
	<p style="font-size: 1em;line-height: 1;margin-top: 1em;margin-bottom: 1em;">sincerely,</p>
	
	<p style="font-size: 1em;line-height: 1;margin-top: 1em;margin-bottom: 1em;">your friends at RoundTabled</p>

</div>