<h1 class="align_right">bring everything to the table</h1>

<h2 class="align_right">assign, collect &amp; organize</h2>
<h2 class="align_right">your publication's content</h2>

<%= form_for(@user) do |f| %>
  <%= render 'shared/error_messages' %>
  <div class="notifyForm">
    <p>our e-mail is <a href="mailto:getorganized@roundtabled.com">getorganized@roundtabled.com</a></p>
	<%= f.text_field :email, :class => "subscriberEmail", :placeholder => "what's yours?" %>
	<%= f.submit "keep me posted", :class => "submit-button" %>
  </div>
<% end %>