<% if @user.errors.any? %>
  <div id="error_explanation">
    <h2>oops! looks like there was a problem. the following <%= pluralize(@user.errors.count, "error") %> 
        prohibited your email address from being saved:</h2>
    <ul>
    <% @user.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>