<h1 class="align_right">created by</h1>
<h2 class="align_right"><a href="http://www.danielwbmazzone.com" alt="dwbm" target="_blank">daniel wb mazzone</a> &amp; <a href="http://www.justgathering.com" alt="justgathering" target="_blank">shayne terry</a></h2>
<p><%= link_to "home", root_path%></p>